
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a{
    text-decoration:none;
    color:inherit;
}

body, html {
    height: 100%;
    overflow: hidden;
    font-family: "Roboto", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    word-spacing:.05rem;
    overflow-x: hidden;
}

#sidebar_section{
    width:370px;
    height:100vh;
    background-color:var(--bs-white);
    overflow:hidden;
    border-right:1px solid #ddd;
}

#content_section {
    width:calc(100vw - 370px);
    height: 100vh;
    display: flex;
    flex-direction:column;
    padding:0;
    margin:0;
    overflow:hidden;

}
#menu_bar{
     padding-left:1rem;
     padding-right:1rem;
     margin-bottom:.25rem;
}
#menu_bar_menu{
   padding:0;
   margin: 0;
   list-style: none;
   display:flex;
   justify-content:end;
}

#menu_bar_menu .menu-link{
    display:inline-block;
    color:#aaa;
    padding:.75rem .5rem;
}

#menu_bar_menu .menu-item:last-child .menu-link{
    padding-right:0;
}

#search_bar {
   /* padding:.75rem 1rem; */
   padding-left:1rem;
   padding-right:1rem;
   margin-bottom:1.5rem;
}
/* << search bar >> */
.search-input-container {
    position: relative;
  
}

.search-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
}

#search_user {
    background-color:#F0F0F0;
    border:1px solid #F0F0F0;
    border-radius:.25rem;
    padding-left: 40px;
    font-size:.98rem;
}

/* << /search bar >> */

/* <<chat list>> */
.chat-profile-img{
    width:55px;
    aspect-ratio:1/1;
    border-radius:100%;
    overflow:hidden;
    margin-right:15px;
    display:flex;
    justify-content:center;
    align-items:center;
 }
 
 .chat-profile-img img{
     width:100%;
     height:100%;
     object-fit:cover;
     object-position:center;
     image-rendering: smooth;
 }

.chat-title{
    font-size:.98rem;
    font-weight:500;
}

.chat-preview-text{
    font-size:.9rem;
    color:#999;
}

/* <</chat list>> */

#content_header {
  padding:10px 20px 10px 25px;
}

.chat-header-img{
    width:  55px;
    aspect-ratio:1/1;
    border-radius:100%;
    overflow:hidden;
    margin-right:1rem;
}

.chat-header-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
}

.chat-header-title{
    font-size:.95rem;
    color:var(--bs-black);
    padding:0;
}

.chat-header-text{
    font-size:.95rem;
    color:#999;
    padding:0;
}


.chat-messages {
    flex-grow: 1;
    padding: 1rem 2rem 1rem 1rem;
    overflow-x:hidden;
    overflow-y:auto;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-image: url('/assets/images/bg-pattern.jpg');
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    background-color: rgba(255,255,255,.8);
    background-blend-mode: lighten;
}

#chats{
    list-style:none;
    padding:0;
    margin:0;
}
.chat-link{
    /* text-decoration:none; */
    display:inline-block;
    padding:.5rem .75rem;
    width:100%;
}

.chat-link.active{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}


/* .nav-link {
    color: var(--text-color);
    overflow:hidden;
    font-size:.97rem;
    padding:18px;
}

.nav-link.active {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-link:hover {
    background-color: var(--secondary-color);
} */

main {
    max-height: 100vh;
}



.message {
    margin-bottom: 1rem;
    display: flex;
    
}

.message.sent {
    
    justify-content: flex-end;
}

.message.received {
    justify-content: flex-start;
}

.message-body {
    max-width: 70%;
    padding: 1rem;
    border-radius: .8rem;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.reply-icon {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.2s;
    color: #6c757d;
}

.message-body:hover .reply-icon {
    opacity: 1;
}

.reply-preview-container {
    padding: 0.5rem 1rem;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reply-preview-text {
    margin: 0;
    font-size: 0.9rem;
    color: #6c757d;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.replied-message {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}
.chat-filegroup-container {
    /* margin-bottom:1rem; */
}

.chat-file-group{
    list-style:none;
    padding:0;
    margin:0;
    display:block;
}
.chat-file-item{
    display:block;
    margin-bottom:.25rem;
}
.chat-file-link{
    display:block;
    font-size:1rem;
    padding:1rem .75rem;
    border-radius:5px;
    border:1px solid #ddd;
    background-color:rgba(0, 0, 0, .1);
}
.chat-imggroup, .chat-video-group{
    width:380px;
    display:flex;
    flex-wrap: wrap;
    gap:.75rem;
    margin-bottom:.5rem;
}
.chat-img-item, .chat-video-item{
    flex:calc(50% - .75rem);
    aspect-ratio:1/1;
    /* flex:50%; */
    aspect-ratio:1/1;
    overflow:hidden;
    border-radius:.5rem;
}
.media-container{
    width:100%;
    position: relative;
}

.media-container img,
.media-container video
{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    object-position:center;
}

.media-container .play-btn{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:50px;
    aspect-ratio:1/1;
    background-color: rgba(0, 0, 0, .8);
    border:none;
    border-radius:100%;
    color: #f8f9fa;
    font-size:1.5rem;
}

.chat-img-item img {
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover;
    object-position:center;
}

/* .media-group {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 5px;
    margin-bottom: 0.5rem;
}

.media-item img {
    max-width: 100%;
    border-radius: 10px;
}

.media-item.file-item {
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    padding: 0.5rem;
    border-radius: 10px;
}

.media-item.file-item i {
    margin-right: 0.5rem;
} */

.replied-message p i {
    margin-right: 0.5rem;
}

.message.sent .message-body {
    background-color: var(--secondary-color);
}

.message.received .message-body {
    background-color: #f8f9fa;
}

.message-text {
    margin-bottom:0;
}
/* .message.sent .message-body .message-time {
    color:#999;
} */
.message-time {
    line-height:0;
    font-size: .75rem;
    color: #6c757d;
    margin-bottom:0;
}

.chat-input-group {
    padding: 1rem;
    background-color: #fff;
    border-top: 1px solid #dee2e6;
}

#chat_input_section{
    background-color: #F0F0F0;
}

#chat_input_container{
     height:65px;
     padding:10px 20px;
     display:flex;
     justify-content:center;
     align-items:center;
}
#chat_input{
    width: 100%;
    field-sizing: content;
    min-height:100%;
    resize:none;
    color: #333;
    font-size:.95em;
    overflow-y:hidden;
    border:1px solid #999;
}
#chat_input:focus{
    outline: none !important;
    border:1px solid #999;
    box-shadow:none !important;
}
#chat_file_btn{
    width:50px;
    aspect-ratio:1/1;
    border:none;
    background:none;
    color:#6c757d;
    font-size:1.2rem;
    border-radius:100%;
    transition: all .3s;
    margin-right:15px;
}
#chat_file_btn:hover{
    /* color:#fff; */
    background-color:rgba(0, 0, 0, .1);
}

#chat_file_btn_container{
    position: relative;
}
#chat_file_btn_menu {
   width:180px;
   aspect-ratio:3/1;
   position: absolute;
   left:0;
   top:calc(-100% - 50px);
   display:none;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   gap:1rem;
   background-color:#FFFFFF;
   padding:1rem 1rem;
   border-radius:.4rem;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
   display:flex;
   visibility:hidden;
}

#chat_file_btn_menu.show{
    animation:fileMenuZoomIn 200ms ease-in-out forwards;
}

@keyframes fileMenuZoomIn{
    0% {
        visibility:hidden;
        opacity:0;
        transform:scale3d(0,0,0);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform:scale3d(1,1,1);
    }
}
#chat_file_btn_menu.hide{
    animation:fileMenuZoomOut 200ms ease-in-out forwards;
}

@keyframes fileMenuZoomOut{
    0% {
        visibility: visible;
        transform:scale3d(1,1,1);
    }
    100% {
        visibility:hidden;
        transform:scale3d(0,0,0);
    }
}

#chat_file_btn_menu.hide{
    display:flex;
    animation-duration:200ms;
    animation-delay:0;
}

#chat_file_btn_menu .menu-item{
    flex-basis:calc(33.33% - 1rem);
    aspect-ratio:1 / 1;
}

#chat_file_btn_menu button{

    width:100%;
    height:100%;
    border-radius:100%;
    background-color: #1C86EE;
    color: #F0F0F0;
    border:none;
}
/* << File Form Modal>> */
.ff-modal{
    width:100vw;
    height: -webkit-fill-available;
    position:absolute;
    top:0;
    left:0;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:rgba(0, 0, 0, .6);
    display:none;
}

.ff-modal.active{
    display:flex;
}

.ff-modal-container{
   max-width: calc(100vw - 20px);
   background-color: #FFFFFF;
   border-radius:.4rem;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.ff-modal-header{
    padding:1.25rem 2rem .75rem;
    background-color: var(--secondary-color);
    border:1px solid var(--secondary-color);
}
.ff-modal-header .ff-modal-title{
    color: var(--primary-color);
}

.ff-modal-body{
    padding:.5rem 2rem .5rem;
    max-height:300px;
    overflow-y:scroll;
}

.ff-modal-footer{
   padding:1rem 2rem 1rem;
   background-color: var(--grey-color);
   border:1px solid var(--grey-color);
}

.ff-modal-body::-webkit-scrollbar{
    width:5px;
}
.f-modal-body::-webkit-scrollbar-track{
    background-color: #ddd;
    border-radius:.2rem;
}
.ff-modal-body::-webkit-scrollbar-thumb{
    background-color: #999;
    border-radius:.2rem;
}

.ff-modal .ff-modal-footer textarea.caption-input{
     border-radius:0;
     border-bottom:2px solid var(--primary-color) !important;
     resize:none;
     overflow:hidden;
     padding:.6rem;
     font-size:.9rem;
     color:#333;
     font-weight:500;
     background-color:#DDD;
}

.ff-modal-container .ff-item-group
{
    padding:1rem 4rem;
}
.ff-modal-container .ff-item
{
    border-radius:.4rem;
    overflow:hidden;
    margin-bottom:.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding:0;
}

.ff-modal-container .ff-item:last-child{
    margin-bottom:0;
}

.ff-modal-container .ff-media-item
{
    width: 250px;
    height:250px;
    position:relative;
}

.ff-modal-container .ff-media-item .remove-btn
{
    position: absolute;
    top:2px;
    right: 5px;
}

.ff-modal-container .ff-media-item .remove-btn i.icon
{
    text-shadow:2px 2px 4px rgba(0,0, 0, .5),-1px 2px 4px rgba(0,0, 0, .3);
    color: var(--secondary-color);
}

.ff-modal-container .ff-file-item{
   width:320px;
   display:flex;
   justify-content:space-between;
   align-items:center;
   padding:1rem 2rem;
   border-radius:.4rem;
   background-color: #f8f9fa;
}

.ff-modal-container .ff-file-item .ff-file-item-icon {
    width:40px;
    height:40px;
    background-color:#b8c0ff;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:100%;
    color:var(--primary-color);
    font-size:1.2rem;
    margin-right:.75rem;
}
/* << /File Form Modal>> */

@media (max-width: 992px) {

    #wrapper{
        position: relative;
    }

    #sidebar_section{
        width:100%;
        position:absolute;
        top:0;
        z-index:999999;
        left:100%;
    }

    #sidebar_section.hide{
        animation: sidebarOut .3s linear forwards;
    }

    #sidebar_section.show {
        animation: sidebarIn .3s linear forwards;
    }


    #content_section{
        width:100%;
        height: -webkit-fill-available;
        position: absolute;
        left:0;
        top:0;
    }

    #content_header{
        padding:10px 7px;
    }

    @keyframes sidebarIn {
        0%{
             left:-100%;
        }
        100%{
             left:0%;
        }
    }

    @keyframes sidebarOut {
        0%{
             left:0%;
        }
        100%{
             left:-100%;
        }
    }

    
    /* #sidebar {
        position: absolute;
        top: 0;
        left: -100%;
        transition: all 0.3s;
    }

    #sidebar.collapse.show {
        left: 0;
    } */

    /* main {
        margin-left: 0 !important;
    } */
}

@media (max-width: 768px) {

    #menu_bar{
        margin-bottom:0;
    }
    #search_bar{
        margin-bottom:1rem;
    }
    #search_user{
        padding:10px;
        padding-left:40px;
        font-size:.95rem;
    }
    #search_user:focus{
        outline:none !important;
        box-shadow:none !important;
    }
    .chat-profile-img{
        width:55px;
    }
    .chat-link{
        padding:.75rem .75rem;
    }
    .chat-title{
        font-size:.95rem;
    }
    .chat-preview-text{
        font-size:.95rem;
    }
    .message {
        margin-bottom:1.5rem;
    }
    .message-body{
        max-width:90%;
    }
    .chat-imggroup{
        width:100%;
    }
    .chat-video-group{
        width:100%;
    }
    #chat_input_container{
        padding:7px 10px;
    }
    #chat_file_btn{
        width:40px;
        height:40px;
        aspect-ratio:1/1;
        margin-right:5px;
        font-size:1rem;
    }
    #chat_file_btn_menu {
        width:180px;
        top:calc(-100% - 60px);
    }

    .ff-modal-body{
        padding:.5rem 1rem .5rem;
    }
    .ff-modal-container .ff-item-group
    {
        padding:.5rem;
    }
}